/* 
Quiz Game

## Kod HTML:
- `<section id="quiz-container">` - Sekcja dla wszystkich boks贸w kontener贸w.
- `<div id="start-panel" class="panel show">` - Panel startowy gry.
    - `<input />` - Pole pobierajce imie gracza.
    - `<button />` - Przyciski zaczynajcy, gre.
- `<div id="quiz-panel" class="panel hide">` - Panel g贸wny quizu.
 - `<div id="quiz">` - Panel gdzie s wywietlane pytania.
- `<div id="result-panel" class="panel hide">` - Panel wynik贸w.
    - `<div id="result">` - Kontenr wywietlajcy wyniki quizu.
    - `<button />` - Przycisk powrotu do panelu startowego.
    - `<div id="highscore-panel">` - Kontener do wywietlania tabeli wynik贸w.
- `<script src="script.js">` - Link do pliku javascript.

Markup:
  <main>
    <section id="quiz-container">
      <div id="start-panel" class="panel show">
        <h1> Quiz Game</h1>
        <p>Przed tob pojawi si 10 pyta. Do wyboru bdziesz mia tylko 4 odpowiedzi, jedna z nich jest poprawna.</p>
        <p>Powodzenia!</p>
        <input type="text" id="player-name" placeholder="Twoje imi">
        <button id="start-button" onclick="startQuiz()">Start Quiz</button>
      </div>
      <div id="quiz-panel" class="panel hide">
        <div id="quiz"></div>
      </div>
      <div id="result-panel" class="panel hide">
        <div id="result"></div>
        <button id="play-again-button" onclick="playAgain()">Zagraj jeszcze raz</button>
        <br>
        <h2>Tablica wynik贸w</h2>
        <div id="highscore-panel"></div>
      </div>
    </section>
  </main>
  <script src="script.js"></script>

Styleguide 1
*/

/* 
Ustawienia globalne dla wszystkich element贸w na stronie `*` .

**Zastosowano resetowanie styl贸w, eliminujc domylne marginesy i paddingi, oraz okrelono pudeko jako border-box.**

Styleguide: 1.1
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
Stylizacja #quiz-contatiner 

**Zdefiniowanie styli dla sekcji o id `quiz-container`.**
U偶ywa flexboxa do wyrodkowania element贸w w pionie i poziomie, ustawia marginez zewntrzny i wewntrzny na 0, wysoko na 100% widoku u偶ytkownika oraz szeroko na 100%.
Ustawia rodzaj czcionki i kolor ta caej sekcji.

Markup: 
    <section id="quiz-container"></section>

Styleguide 1.2
*/
#quiz-container {
    font-family: 'Arial', sans-serif;
    background-color: #282c35;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 100%;
}

/* 
Style .panel 

**Zdefiniowanie styli dla klasy panel i jej skadowych.**

Ustawienie szerokoi na 80% widoku u偶ytkownika, margines zewntrzyny g贸rny i dolny na zero, lewy i prawy automatycznie. Margines wewntrzy ustwaniony na 30px.
Kolor ta klasy jest biae (#fff), ma zaokrglone rogi i posiada cie.
Klasa .panel ustawiona jest na niewidoczn.

**Skadowa klasy .panel `<h1/>`**

Nag贸wek `h1` ustawiony ma margines zewntrzny dolny na 20px, rozmiar czcionki na 70px, czarny kolor teksu (#333) oraz cie teksu.

**Skadowa klasy .panel `<p/>`**

Paragraf posaida margines zewntrzny dolby r贸wny 10px, rozmiar czcionki 25px, pogryubienia czcionki i kolor teksu jest czarny (#333).

Markup:
    <div class="panel show"> 
        <h1>Przykad</h1>
        <p>przykad</p>
    </div>

Styleguide 1.3
*/
.panel {
    display: none;
    max-width: 80vh;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.panel h1 {
    color: #333;
    margin-bottom: 20px; 
    font-size: 70px;
    text-shadow: 1px 1px 2px #333333; 
}

.panel p {
    color: #333;
    font-weight: bolder;
    margin-bottom: 10px; 
    font-size: 25px; 
}

/* 
Klasa .show

Klasa ta ustawia tylko widoczno kontenera `<div id="start-panel" class="panel show">` na blok.

Styleguide 1.4
*/
.show {
    display: block;
}

/* 
Style #start-panel 

Ustawienie maksymalnej szerokoi panelu do 80% widoku u偶ytkownika.

Styleguide 1.5
*/
#start-panel {
    max-width: 80vh;
}

/* 
Style #quiz-panel 

Ustawienie makszymalnej szerokoci panelu quizu na 80% widoku u偶ytkownika oraz koloru ta na biay (#f9f9f9).

Styleguide 1.6
*/
#quiz-panel {
    max-width: 80vh;
    background-color: #f9f9f9;
}

/* 
Style #quiz

Ustawienia margines贸w wewntrznych kontenera na 20px.

Styleguide 1.7
*/
#quiz {
    padding: 20px;
}


/* 
Style .option-button

**Zdefiniowanie styli dla przycisk贸w z odpowiedziami, kt贸re wywietlaj si podczas gry.**

**.option-buton**

Ustawione s szerokoci przycisk贸w na 50% - 20px mo偶liwej szerokoci ekranu u偶ytkownika, marginesy zewntrzne na 10px, wewntrzne na 15px.
Kololr ta biay (#fff), grugo obramowania na 2px, cige koloru czrnego. Rozmiar teksu 20px, koloru czrnego.
Ustawiona jest r贸wnie偶 interacja, gdzie u偶ytkownik po najechaniu na przycisk z odpowiedzi zmienia to, kolor teksu oraz kolor obramowania, a kursor zmienia si na kursor wskazujcy.

**.option-button:hover**

Styl guzika po najechaniu na niego.
Zmienia to guzika na szary (#555), kolor obramowania i tekstu na biay (#fff).

Markup: 
    <button class="option-button">Przykad</button>

Styleguide 1.8
*/
.option-button {
    background-color: #fff;
    color: #333;
    padding: 15px;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 8px;
    width: calc(50% - 20px);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, font-size 0.3s ease-in-out;
    font-size: 20px; 
}

.option-button:hover {
    background-color: #555;
    color: #fff;
    border-color: #fff;
}

/* 
Style #result-panel

Ustawienie koloru ta na biay (#f9f9f9) oraz wyrodkowanie teksy.

Styleguide 1.9
*/
#result-panel {
    background-color: #f9f9f9;
    text-align: center;
}


/* 
Style #start-button oraz #play-again-button

**Zdefiniowanie styli dla przycisku startowego i restaru.**

**#start-button , #play-again-button**
Ustawienie marginesu zewntzrebgo g贸rnego na automatyczny, wewntrzego g贸rnego i dolnego na 8px, lewego i prawego na 20px.
Kolor ta jest zielony (#4CAF50), brak obramowania oraz zaokrglenie rog贸w: 8px. Rozmiar teksu 20px.
Ustawiona jest interakcja po najechaniu: zmienia si kolor ta przycisku oraz kursor zmienia si na kursor wskazujcy.

**#start-button:hover , #play-again-button:hover**

Zmiana koloru ta na ciemnozielony.

Markup:
    <button id="start-button" onclick="startQuiz()">Start Quiz</button>

Styleguide 1.10
*/
#start-button, #play-again-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    margin-top: auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 20px; 
}

#start-button:hover, #play-again-button:hover {
    background-color: #45a049;
}


/* 
Style #player-name

Ustawienia inputa pobierajcego imie gracza.
Szeroko bloku ustawiona na 70%, maksymalna wysoko 50px, margines zewntrzny dolny 20px, wewntrzny 10px.
Zaokrglenie obramowania 8px oraz rozmiar czcionki na 18px.

Markup: 
    <input type="text" id="player-name" placeholder="Przykad">

Styleguide 1.11
*/
#player-name {
    width: 70%;
    padding: 10px;
    max-height: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 18px;
}

/* 
Style #highscore-panel

Ustawienia panelu wywietlajcego wyniki graczy.
To panelu: jasno szare (#c2c1c1).

Styleguide 1.12
*/
#highscore-panel {
    background-color: #c2c1c1;
}

/* 
Style #highscore-panel table

Style tabeli wywietlanej w panelu wynikowym.
Szeroko tabeli: 100%, grubo obramowania 2px, cige, koloru czarnego, zaokrglenie rog贸w 5px.
Teskt wyrodkowany.

Markup: 
    <div id="highscore-panel" class="panel show">
        <table>
            <tr>
                <th>Kolumna 1</th>
                <th>Kolumna 2</th>
            </tr>
            <tr>
                <td>Dane 1</td>
                <td>Dane 2</td>
            </tr>
        </table>
    </div>

Styleguide 1.13
*/
#highscore-panel table {
    border: 2px solid #333;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

/* 
Style @media query

**Style dla urzdze o makszywalnej szerokoci ekranu 765px.**

**.panel**
Szeroko klasy .panel : 80%.

**.option-button**
Szeroko przycisk贸w odpowiedzi: 100% - 20px oraz marginez zewntrzny g贸rny i dolny 10px, lewy i prawy 0.

Styleguide 1.14
*/
@media (max-width: 765px) {
    .panel {
        width: 80%;
    }

    .option-button {
        width: calc(100% - 20px);
        margin: 10px 0;
    }
}